.panel-default > .panel-heading .badge {
  background-color: #319bb8;
}

form input[type=text] {
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  height: 30px;
}

input.input-xlarge, textarea.input-xxxlarge {
  width: 100%;
}

.panel {
  border-radius: 5px;
  /*box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);*/
}
