<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{welcome.title}"></title>
</head>
<body>
<div layout:fragment="content">

  <p>This OAuth2 client app first obtains an Access Token from the Authorization Server
    and then uses the Voot Resource Server to access protected resources.</p>

  <div class="row">
    <form class="col-md-8" name="test-oauth-server" action="/test" th:object="${settings}" method="post">
      <div class="panel-group" id="mainOptions" role="tablist">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="step1heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#mainOptions" href="#step1" aria-expanded="true"
                 aria-controls="step1">
                <span class="badge">1 </span><span class="badge-label">OAuth Settings</span>
              </a>
            </h4>
          </div>
          <div id="step1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="step1heading">
            <div class="panel-body">
              <div class="fields">
                <label for="oauthKey">OAuth key</label>
                <input id="oauthKey" type="text" class="input-xlarge" th:field="*{oauthKey}"/>

                <p class="help-block">The client must have obtained the key out-of-band during the registration
                  process</p>
                <label for="oauthSecret">OAuth secret</label>
                <input id="oauthSecret" type="text" class="input-xlarge" th:field="*{oauthSecret}"/>

                <p class="help-block">The secret (normally an UUID) is also out-of-band obtained by the client
                  during the registration process</p>

                <label for="oauthScope">OAuth scope</label>
                <input id="oauthScope" type="text" class="input-xlarge" th:field="*{oauthScope}"/>

                <p class="help-block">The scope for which to grant access</p>

                <label>OAuth grant type</label>
                <input id="authCode" th:field="*{grantType}" type="radio" value="authCode"/><span class="mar">Authorization code</span>
                <input id="implicitGrant" th:field="*{grantType}" type="radio" value="implicit"/><span>Implicit</span>
                <p class="help-block">A credential representing the resource
                  owner's authorization (to access its protected resources) used by the
                  client to obtain an access token</p>

                <label for="redirectUri">Use no redirect URI</label>
                <input id="redirectUri" th:field="*{redirectUri}" type="checkbox"/>
                <p class="help-block">Use the redirect URI pre-configured for this client.</p>

                <label for="accessTokenEndPoint">AccessToken URL</label>
                <input id="accessTokenEndPoint" type="text" class="input-xlarge"
                       th:field="*{accessTokenEndPoint}"/>

                <p class="help-block">The access token endpoint of the Authorization server</p>

                <label for="authorizationURL">Authorization URL</label>
                <input id="authorizationURL" type="text" class="input-xlarge" th:field="*{authorizationURL}"/>

                <p class="help-block">The authorization token endpoint of the Authorization server</p>

                <div class="buttons">
                  <button name="step1" class="c-button">Next</button>
                  <button name="reset" class="c-button">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="step2heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#mainOptions" href="#step2" aria-expanded="false"
                 aria-controls="step2">
                <span class="badge">2 </span><span class="badge-label">OAuth Authorization</span>
              </a>
            </h4>
          </div>
          <div id="step2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="step2heading">
            <div class="panel-body">
              <div class="fields">
                <label for="authorizationURLComplete">Authorization URL</label>
                <input id="authorizationURLComplete" type="text" th:field="*{authorizationURLComplete}"
                       class="large"/>

                <p class="help-block">The URL to redirect to for user authentication
                </p>

                <div class="buttons">
                  <button name="step2" class="c-button">Next</button>
                  <button name="reset" class="c-button">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="step3heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#mainOptions" href="#step3" aria-expanded="false"
                 aria-controls="step3">
                <span class="badge">3</span><span class="badge-label">OAuth Requests</span>
              </a>
            </h4>
          </div>
          <div id="step3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="step3heading">
            <div class="panel-body">
              <div class="fields">
                <label for="accessToken">Access token</label>
                <input id="accessToken" type="text" th:field="*{accessToken}" class="input-xlarge" readonly="true"/>

                <p class="help-block">Note: this is the accessToken for
                  all subsequent OAuth queries</p>
                <label for="requestURL">API Request </label>
                <input id="requestURL" type="text" th:field="*{requestURL}" class="input-xlarge"/>

                <p class="help-block">An endpoint on the VOOT Resource server</p>

                <div class="buttons">
                  <button name="step3" class="c-button">Fetch</button>
                  <button name="reset" class="c-button">Reset</button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <input id="step" type="hidden" th:value="${settings.step}" name="step"/>
    </form>
    <div class="col-md-4" >
      <div id="request">
        <div class="alert alert-info alert-http">HTTP Request</div>
        <pre id="requestInfo" class="prettyprint pre-scrollable pre-json" th:text="${requestInfo}">requestInfo </pre>
      </div>
      <div id="response">
        <div class="alert alert-info alert-http">HTTP Response Headers</div>
          <pre id="responseInfo" class="prettyprint pre-scrollable pre-json"
               th:text="${responseInfo}">responseInfo</pre>
      </div>
      <div id="raw-response">
        <div class="alert alert-info alert-http">HTTP Response Body</div>
          <pre id="rawResponseInfo" class="prettyprint pre-scrollable pre-json"
               th:text="${rawResponseInfo}">responseInfo</pre>
      </div>
    </div>
  </div>
</div>


</body>
</html>
